CompileFlags:
  Add:
    # --- The "Find math.h" section ---
    - --target=arm-none-eabi
    - --sysroot=/opt/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi
    - -I/opt/ST/STM32CubeCLT_1.20.0/GNU-tools-for-STM32/arm-none-eabi/include
    
    # --- Your important original flags ---
    - -ferror-limit=0
    - -Wno-implicit-int
    
  CompilationDatabase: build

Diagnostics:
  Suppress:
    # --- Your important original suppressions ---
    - unused-includes
    - unknown_typename
    - unknown_typename_suggest
    - typename_requires_specqual